@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/fundoDoit.jpg');
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 500px;
}

.title {
    position: relative;
    align-items: center;
}

.left-panel {
    background-color: #f1f1f1bb;
    width: 35%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel {
    width: 65%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-panel h1 {
    font-family: "Itim", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.profile {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.profile img {
    width: 120px;
    height: 100px;
}

.welcome {
    margin-top: 100px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    text-decoration: underline;
    text-decoration-color: #111;
    text-decoration-style:solid;
    text-decoration-thickness: 3px;
}

.create-button {
    background-color: #111;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor:pointer;
    margin-top: 40px;
}
a{
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
}

.input-group {
    width: 70%;
    margin-bottom: 20px;
}

.input-control {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
}

.forgot-password {
    align-self: center;
    font-size: 12px;
    color: #777;
    text-decoration:underline;
    margin-bottom: 20px;
}

.login-button {
    background-color: #0066ff;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}
