@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: url('../image/fundoSignDoit.jpg');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.301);
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 600px;
}

.profile {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 45px;
}

.profile img {
    width: 120px;
    height: 100px;
}

.input-group {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
}

.input-control {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
}      

.button-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px 20px;
    border-radius: 45px;
    border: 1px solid rgb(235, 235, 235);
    background-color: #0066ff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

a {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}